.user {
  display: flex;
  flex-direction: row;
}

.sidebar {
  /* background-color: rgb(255, 148, 148); */
}
.menu {
  width: 100%;
  /* padding: 0 20px; */
}
.tableNav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin: 20px 0 10px 0;
  background-color: rgba(120, 126, 133, 0.2);
}
.nav {
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .navItem {
  height: 37px;
  /* margin: 3px 0; */
  width: 140px;
  border-radius: 3px;
  background-color: #ffffff;
}
.nav .navItem span {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.nav .navItem:hover {
  cursor: pointer;
  transition: 0.5s;
}
.active_tabs {
  background-color: #0048ba;
  color: #ffffff;
  font-weight: 600;
}
.content span {
  display: none;
  padding: 0 10px;
}
.content .active_content {
  display: block;
}
/* .filCity {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
.filCity h2 {
  margin-right: 30%;
}

.fTable {
  display: flex;
  height: 20px;
  text-align: center;
} */
table {
  margin-top: 50px;
  border-collapse: collapse;
}
tbody,
td,
th,
tr {
  text-align: center;
  background-color: #ffffff;
  /* height: 20px; */
}
td {
  height: 20px;
  border: 1px solid #dddddd;
  padding: 8px;
  cursor: pointer;
}
