.searchField {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(227, 222, 222);
  width: 210px;
  height: 30px;
  border-radius: 3px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  border: none;
  outline: none;
  background-color: transparent;
  /* border-bottom: 1px solid #2d68cf; */
  /* color: #0247ba; */
  font-size: 15px;
  width: 160px;
  height: 30px;
  /* margin-right: 7px;
  border-radius: 3px; */
}
.search::placeholder {
  font-size: 16px;
  font-weight: 500;
}
.searchBtn {
  color: gray;
  cursor: pointer;
  height: 30px;
}
.data {
  max-height: 300px;
  width: 200px;
  background-color: rgb(240, 237, 237);
  overflow-y: auto;
  position: absolute;
  padding-left: 8px;
}
.searchD {
  display: flex;
  /* width: 180px; */
  flex-direction: column;
  margin-bottom: 10px;
  background-color: rgb(247, 247, 247);
}
.searchD p {
  height: 25px;
  margin: 0;
}
.searchP {
  color: black;
  text-decoration: none;
  /* background-color: rgb(255, 255, 255); */
}
