.search {
    border: none;
    outline: none;
    background-color: #fff;
    border-bottom: 1px solid #2d68cf;
    color: #0247ba;
    font-size: 16px;
    width: 160px; 
    height: 30px;
    margin-right: 7px ;
    border-radius: 3px;
  } 
  .search::placeholder {  
    font-size: 16px;
    font-weight: 500;
  }
  .filterData{
    position: absolute;
    background-color: #fff;
    max-height: 300px;
    width: 160px; 
    padding-left: 5px;
    overflow-y: auto;
  }