.tTitle {
  cursor: pointer;
  height: 25px; 
  min-width: 100px;
  border: 1px solid #dddddd;
  padding: 6px;
  transition: 0.3s;
  font-size: 16px; 
  font-weight: 700;
}
.tTitleN {
  cursor: pointer;
  height: 25px;
  min-width: 160px;
  border: 1px solid #dddddd;
  padding: 6px;
  transition: 0.3s;
  font-size: 16px; 
  font-weight: 700;
}
.tData {
  font-size: 15px;
  font-weight: 400;

}
